@import url("reset.css");

html {
    height: 100%;
}

body {
    height: 100%;
    font: 14px/18px 'Times New Roman', Times, sans-serif;
    background-color: #fff;
}

ol, ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

header {
    position: absolute;
    padding: 20px 0;
    top: 20px;
    width: 100%;
}

nav {
    display: flex;
    padding-top: 5px;
}

.logo {
    margin-right: auto;
}

nav ul {
    display: flex;
}

nav li {
    margin-right: 40px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    font: 14px Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
}

nav a:hover {
    color: #fed136;
}

.home {
    height: 700px;
    padding-top: 270px;
    text-align: center;
    color: #fff;
    background: #222 url(../img/background.jpg) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.home-small {
    display: block;
    font: 40px/40px Arial, sans-serif;
    color: #fff;
    margin-bottom: 40px;
}

.home-big {
    display: block;
    font: 75px/75px Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.btn {
    display: inline-block;
    padding: 20px 30px;
    background: #fed136;
    font: bold 24px/24px Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
    border-radius: 4px;
}

.btn:hover {
    background-color: #e8bb1f;
    color: #fff;
}

.box {
    padding: 120px 0;
}

.services,
.aboutus {
    text-align: center;
}

.contactus {
    text-align: center;
    background: #222 url(../img/map.png) no-repeat right bottom;
}

.contactus h2.title {
    color: #fff;
}

.contactus span.descr {
    color: #fff;
}

.portfolio {
    text-align: center;
    background-color: #f7f7f7;
}

.team {
    text-align: center;
    background-color: #f9f9f9;
}

.brands {
    text-align: center;
    padding: 60px 0;
}

h2.title {
    margin-bottom: 10px;
    font: bold 40px/40px Arial, sans-serif;
    color: #222222;
    text-transform: uppercase;
}

h5 {
    margin-bottom: 10px;
    font: bold 18px/18px Arial, sans-serif;
    color: #222222;
}

span.descr {
    display: block;
    font-size: 16px;
    color: #777777;
    margin-bottom: 10px;
}

.portfolio-wrap,
.about-wrap,
.team-wrap,
#message {
    padding: 70px 0 0 0;
}

.services-wrap {
    display: flex; 
    padding: 70px 0 0 0;
}

.team-info {
    margin-top: 50px;
}

.services-item {
    padding: 90px 10px 0;
    width: 33.33%
}

.services-item p {
    font-size: 18px;
    line-height: 24px;
    color: #777777;
    margin-bottom: 10px;
}

.commerce {
    background: url(../img/commerce.png) no-repeat center top;
}

.responsive {
    background: url(../img/responcive.png) no-repeat center top;
}

.security {
    background: url(../img/security.png) no-repeat center top;
}

.portfolio-item {
    background: #fff;
    width: 31%;
    margin-right: 3.5%;
    margin-bottom: 50px;
    float: left;
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item:nth-last-child(1),
.portfolio-item:nth-last-child(2),
.portfolio-item:nth-last-child(3) {
    margin-bottom: 0;
}

.p-item-footer {
    padding: 25px 20px;
}

.p-item-footer h5 {
    margin-bottom: 4px;
}

.p-item-footer span {
    color: #777;
}

.about-text {
    width: 35%;
}

.about-text h5 {
    line-height: 24px;
}

.about-text p {
    font: 16px/24px 'Times New Roman', Times, sans-serif;
    color: #777777;
}

.about-img {
    width: 30%;
}

.about-img img,
.about-link {
    display: inline-block;
    height: 175px;
    width: 175px;
    border: 7px solid #f1f1f1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.about-img:after {
    content: '';
    display: block;
    margin: 0 auto;
    height: 94px;
    width: 3px;
    background: #f1f1f1;
}

.about-link {
    padding-top: 32px;
    text-transform: uppercase;
    color: #fff;
    background: #fed136;
    font: bold 18px/30px Arial, sans-serif;
    text-shadow: 0 1px rgba (0,0,0,0.3);
}

.team-item {
    float: left;
    width: 33.33%;
    padding: 0 10px;
}

.team-item img {
    margin-bottom: 12px;
    border: 7px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.team-item p {
    font: 14px/14px Arial, sans-serif;
    color: #777777;
}

.social {
    margin-top: 10px;
}

.social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 3px;
    border: 3px solid #222;
    background: url(../img/sn-icons.png) no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.social a.black {
    background-color: #222;
}

.social a.ic-twitter {
   background-position: 0 0; 
}

.social a.ic-twitter:hover {
    border-color: #00aced;
    background-color: #00aced;
    background-position: 0 -40px; 
}

.social a.ic-twitter.black {
    background-position: 0 -40px; 
}

.social a.ic-fb {
    background-position: -40px 0; 
}

.social a.ic-fb:hover {
    border-color: #3b5998;
    background-color: #3b5998;
    background-position: -40px -40px; 
}

.social a.ic-fb.black {
    background-position: -40px -40px; 
}

.social a.ic-pint {
    background-position: -80px 0; 
}

.social a.ic-pint:hover {
    border-color: #cb2028;
    background-color: #cb2028;
    background-position: -80px -40px; 
}

.social a.ic-pint.black {
    background-position: -80px -40px; 
}

.social a.ic-gplus {
    background-position: -120px 0; 
}

.social a.ic-gplus:hover {
    border-color: #d95232;
    background-color: #d95232;
    background-position: -120px -40px; 
}

.social a.ic-gplus.black {
    background-position: -120px -40px; 
}

.brands a {
    display: inline-block;
    margin-right: 40px;
}

.brands a:last-child {
    margin-right: 0;
}

.brands img {
    vertical-align: middle;
}

#message input[type="text"],
#message textarea {
    width: 100%;
    background: #fff;
    box-shadow: none;
    margin-bottom: 30px;
    padding: 15px 20px;
    font: bold 16px/16px Arial, sans-serif;
    color: #222;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

#message input[type="text"] {
    height: 50px;
    border: 1px solid #ccc;
}

#message textarea {
    border: none;
    height: 210px;
    resize: none;
}

::-webkit-input-placeholder {
    text-transform: uppercase;
    font: bold 14px/14px Arial, sans-serif;
    color: #bbb;
}

::-mox-input-placeholder {
    text-transform: uppercase;
    font: bold 14px/14px Arial, sans-serif;
    color: #bbb;
}

::-o-input-placeholder {
    text-transform: uppercase;
    font: bold 14px/14px Arial, sans-serif;
    color: #bbb;
}

#message .left,
#message .right {
    width: 48%;
}

footer {
    padding: 25px 0;
}

footer .social {
    margin-top: 0;
    margin-left: 365px;
}

footer p {
    margin-top: 13px;
    font: 14px/14px Arial, sans-serif;
    color: #555;
}

.footer-link {
    color: #555;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}